/*-------RESET------*/
html, body, div, span, 
h1, h2, h3, 
a, img, 
b, u, i, ul, li, form, 
article, aside,  
figure, figcaption, footer, header, 
menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
}

/*-------BASE ------*/
.index {
  background: linear-gradient(-50deg, #23b6c0 30%, rgba(0, 0, 0, 0) 30%),
  linear-gradient(50deg, #23b6c0 30%, rgba(0, 0, 0, 0) 30%), url('./images/city2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.gallery1,
.gallery2,
.index {
  font-family: 'Concert One', cursive;
  text-align: center;
  color: rgb(214, 228, 235);
  font-size:3rem;
}

.gallery1,
.gallery2 {
  background: #23b6c0;
  box-sizing: border-box;
  margin-bottom:.5rem;
}

.home-h1 {
text-align: left;
padding-left: 4rem;
padding-top: 4rem;
}

/*-----BUTTONS-----*/
.view-button-gallery1 ,
.view-button-gallery2,
.view-button-home {
  height: 3rem;
  width: 8rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border:solid rgb(163, 211, 218);
  font-family: 'Concert One', cursive;
  background: rgb(37, 99, 110);
  color: whitesmoke;
 }


.view-button-gallery2 {
  position: fixed;
  left: 7vw;
  bottom: 8vh;
}

.view-button-gallery1 {
  position: fixed;
   left: 7vw;
   bottom: 20vh;
}

.anchor-tag{
  color: whitesmoke;
  text-decoration: none;
}

/*-------LAYOUT------*/
.masonry, 
.grid {
  background-color: rgb(201, 210, 218);
  width: 94vw;
  height: 85vh;
  padding: .2rem;
  display: grid;
  margin-left: 3vw;
  margin-bottom:.5rem;
}
.gallery1-header,
.gallery2-header {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin: .4rem;
  padding-left: 2rem;
}
.gallery1-title, 
.gallery2-title {
  padding-left: 2rem;
}
/*------MASONRY PAGE-----*/
.masonry {
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(14, 1fr);
  row-gap: .2rem;
  column-gap: .2rem;
}

.masonry img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border:1px solid rgb(184, 197, 233);
  border: 2px solid rgb(141, 137, 137) ;
}

/*---MASONRY GRID LAYOUT----*/
.cell-1 {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
}

.cell-2 {
  grid-column: 6 / 9;
  grid-row: 1 / 11;
}

.cell-3 {
  grid-column: 9 / 12;
  grid-row: 1 / 4;
}

.cell-4 {
  grid-column: 12 / -1;
  grid-row: 1 / 4;
}

.cell-5 {
  grid-column: 1 / 4;
  grid-row: 6 / 11;
}

.cell-6 {
  grid-column: 4 / 6;
  grid-row: 6 / 7;
}

.cell-7 {
  grid-column: 4 / 6;
  grid-row: 7 / 11;
}

.cell-8 {
  grid-column: 1 / 6;
  grid-row: 11 / -1;
}

.cell-9 {
  grid-column: 6 / 12;
  grid-row: 11 / -1;
}

.cell-10 {
  grid-column: 9 / 12;
  grid-row: 4 / 11;
}

.cell-11 {
  grid-column: 12 / 13;
  grid-row: 4 / 6;
}

.cell-12 {
  grid-column: 13 / -1;
  grid-row: 4 / 6;
}

.cell-13 {
  grid-column: 12 / -1;
  grid-row: 6 / 13;
}

.cell-14 {
  grid-column: 12 / -1;
  grid-row: 13 / -1;
}

/* ---CLIPART PAGE --- */
.grid {
  grid-template-columns: 1.167fr 0.45fr .225fr 0.3fr 0.8fr;
  grid-template-rows: 0.44fr 0.1875fr 0.4fr .9fr;
  grid-gap: .5rem;
  margin-left:3vw;
}

.grid figure {
  overflow: hidden;
  position: relative;
}

.grid figure img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---CLIPART LAYOUT --- */
.cell-1-2 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 85%);
}

.cell-2-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.cell-3-2 {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}

.cell-4-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  clip-path: polygon(0 22%, 100% 4px, 100% 100%, 0% 100%);
}

.cell-5-2 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.cell-6-2 {
  grid-column: 4 / 6;
  grid-row: 2 / 4;
}

.cell-7-2 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.cell-8-2 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%)
}

.cell-9-2 {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
}

/* --- COPYRIGHT ----  */
.copyright {
 position: absolute;
  right: 1vw;
  bottom: 3vh;
  writing-mode: vertical-rl;
  font-size: 1.5vw;
}

.copyright:before {
  content: '\00a9';
  display: inline-block;
  transform: rotate(90deg);
}

/*---MOBILE ----*/
@media only screen and (max-width: 870px) {
  .view-button-gallery1 {
     bottom: 15vh;
  }

  .home-h1 {
    text-align: center;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .gallery1-title,
  .gallery2-title {
    font-size: 1.5rem;
   }

  .masonry, 
  .grid {
    height: 90vh;
  }

}